<!DOCTYPE html>
<html>
  <script src="data.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">

<table ng-if="isSequential == true">
  <tr>
    <th ng-repeat="key in keys">{{ key }}</th>
  </tr>
  <tr ng-repeat="(key_row,data_row) in data">
    <td ng-repeat="data_column in data_row">{{ data_column }}</td>
  </tr>
</table>

<table ng-if="isSequential == false">
  <tr ng-repeat="(key_row,data_row) in data">
    <td ng-repeat="(key_column,data_column) in data_row">{{ key_column }}: {{ data_column }}</td>
  </tr>
</table>

<div ng-if="isChart == true" id="chart_div" style="width: 900px; height: 300px;"></div>


<canvas ng-if="isCanvas == true" id="canvas" width="1024" height="512" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<div id="map" style="width:100%; height:100%;"></div>

</div>

    <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('#map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjWh-Ry4NVRvyIHvgJiUTbHbfTPMkaKNs&callback=initMap">
    </script>

<script>
var app = angular.module('myApp', []);

bar_data = [];

canvas_data = [];

app.controller('customersCtrl', function($scope, $http) {

  $scope.isSequential=true;
  $scope.isChart=true;
  $scope.isCanvas=true;

  $scope.data = data;
  $scope.keys=[];

  //Table keys
  $.each(data[0], function(key, value){
    $scope.keys.push(key);
  });

  //isSequential
  $.each(data, function(key, value){
    current_keys=[];
    $.each(value, function(key, value){
      current_keys.push(key);
    });
    if(JSON.stringify($scope.keys) != JSON.stringify(current_keys))
    {
      $scope.isSequential=false;
    }
  });

  //isChart
  var chart_keys=["name","value"]

  bar_data = [ ['TODO1', 'TODO2', { role: 'style' }] ];
  $.each(data, function(key, value){
    if(value.name && value.value)
      bar_data.push([value.name, value.value, '#b87333'])
  })

  if(bar_data.length<=1)
    $scope.isChart=false;

  //isCanvas
  $.each(data, function(key, value){
    if(value.text && value.x && value.y)
      canvas_data.push([value.text, value.x, value.y])
  })

  if(canvas_data.length<=0)
    $scope.isCanvas=false;

  if($scope.isCanvas)
  {
    var c = document.getElementById("canvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Roboto";

    $.each(canvas_data, function(i){
      ctx.fillText(canvas_data[i][0],canvas_data[i][1],canvas_data[i][2]);
    })
  }

});

</script>

<script>

google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawDualX);

function drawDualX() {

      var google_bar_data = google.visualization.arrayToDataTable(bar_data);

      var options = {
        chart: {
          title: 'TODO3',
          subtitle: 'TODO4'
        },
        hAxis: {
          title: 'TODO5'
        },
        vAxis: {
          title: 'TODO6'
        },
        bars: 'horizontal'
      };
      var material = new google.charts.Bar(document.getElementById('chart_div'));
      material.draw(google_bar_data, options);
    }
</script>

</body>
</html>
